/* Diagonal pattern background */
.pattern-bg {
    background-color: red;
    /*background-image: repeating-linear-gradient(*/
    /*    45deg,*/
    /*    transparent,*/
    /*    transparent 5px,*/
    /*    rgba(255, 255, 255, 0.03) 10px,*/
    /*    rgba(255, 255, 255, 0.03) 20px*/
    /*);*/
}
